@import "tailwindcss";


:root {
	--background: #000;
	--foreground: #fff;
}


@font-face {
	font-family: "nm";
	src: url(../../public/assets/font/font.ttf);

}

@font-face {
	font-family: "OTBrut";
	src: url(../../public/assets/font/OTBrut-Regular.ttf);

}
@font-face {
	font-family: "bigdaily";
	src: url(../../public/assets/font/BigDailyShort-LightItalic.ttf);

}
@font-face {
	font-family: "clash";
	src: url(../../public/assets/font/ClashDisplay-Medium.ttf);

}



body {
	background: var(--background);
	color: var(--foreground);
	font-family: "nm";
}


*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
	--color-text: #fff;
	--color-bg: #000;
	--color-link: #fff;
	--color-link-hover: #907030;
	--color-title: #907030;
	--perspective: 1500px;
	--grid-item-ratio: 1.5;
	--grid-width: 100%;
	--grid-height: auto;
	--grid-gap: 2vw;
	--grid-columns: 4;
	--grid-inner-scale: 1;
}

.ourmethod {
	background: linear-gradient(to left,#35372b, #1b1d13);
}


/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5, 0.5, 1);
	}
}

main {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 155vh;
}



.intro {
	height: 20vh;
	text-align: center;
	place-items: center;
	display: grid;
	/* background: red; */
}

.intro__title {
	place-items: center;
	margin: 0;
	line-height: .9;
	display: grid;
	font-weight: 400;

}

.intro__title-pre {
	font-weight: 300;
	font-size: clamp(2rem, 8vw, 5rem);
	color: white;
	text-transform: uppercase;
}

.intro__title-sub {
	font-size: clamp(1.5rem, 20vw, 8rem);
	max-width: 15ch;
	margin: 0 auto;
}

.intro__info {
	max-width: 15ch;
	opacity: .6;
	margin-bottom: 4rem;
	padding-bottom: 1rem;
	line-height: 1.2;
	position: relative;
	align-self: end;
}

.intro__info::after {
	content: "";
	width: 1px;
	height: 2rem;
	background: #fff;
	position: absolute;
	top: 100%;
	left: 50%;
}

.card-wrap {
	margin-top: 5vh;
	display: grid;
	grid-gap: 2rem;
	grid-auto-flow: row;
	grid-template-columns: 250px;
}

.card__image {
	display: block;
	border-radius: 7px;
	background-size: cover;
	background-position: 50% 50%;
	width: 100%;
	height: auto;
	aspect-ratio: 4 / 3;
	filter: contrast(0.8);
}

.credits {
	font-size: 1.5rem;
	text-align: center;
	margin: 50vh auto 0;
	padding-bottom: 50vh;
}

.content {
	position: relative;
	margin-bottom: 10vh;

}


.content__title {
	position: absolute;
	height: 100vh;
	width: 100vw;
	top: 50%;
	left: 50%;
	/* background-color:lightseagreen; */
	margin: -50vh 0 0 -50vw;
	padding: 0 10vw;
	display: grid;
	place-items: center;
	text-align: center;
	font-weight: 300;
	font-size: clamp(1.5rem, 15vw, 6.5rem);
}

.content__title--top {
	align-items: start;
}

.content__title--bottom {
	align-items: end;
}

.content__title--left {
	justify-items: start;
	text-align: left;
}

.content__title--right {
	justify-items: end;
	text-align: right;
}

.outro {
	display: grid;
	place-items: center;
	margin: 40vh 0;
}

.grid {
	display: grid;
	place-items: center;
	padding: 2rem;
	width: 100%;
	perspective: 1500px;
}

.grid-wrap {
	height: var(--grid-height);
	width: var(--grid-width);
	display: grid;
	grid-template-columns: repeat(var(--grid-columns), 1fr);
	gap: var(--grid-gap);
	transform-style: preserve-3d;
}

.grid__item {
	aspect-ratio: var(--grid-item-ratio);
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
	border-radius: 8px;
	display: grid;
	place-items: center;
}

.grid__item-inner {
	position: relative;
	width: calc(1 / 1 * 100%);
	height: calc(1 / 1 * 100%);
	background-size: cover;
	background-position: 50% 50%;
}


@media (max-width:680px) {
	main {
		height: auto;
	}

	.grid__item {
		height: 150px;
		width: 150px;
	}
}

@media screen and (min-width: 53em) {
	.frame {
		grid-template-columns: auto auto auto 1fr;
		grid-template-areas: 'title prev ... sponsor';
		align-content: space-between;
		justify-items: start;
		grid-gap: 2rem;
	}

	.frame__demos {
		justify-self: end;
	}

	
	.content__title {
		height: 700px;
	}


	.content--outro {
		height: 100vh;
		justify-content: center;
	}

	.card-wrap {
		grid-template-columns: repeat(3, 250px);
	}

	body #cdawrap {
		justify-self: end;
	}
}